@font-face {
  font-family: "Gold West";
  src: url(/fonts/gold-west.otf);
}

@font-face {
  font-family: "Euclid Circular A";
  src: url(/fonts/EUCLID\ CIRCULAR\ A\ REGULAR.ttf);
}

:root {
  --dark-shade: #082552;
  --dark-blue: #010813cc;
  --dark-blue-main: #010813;
  --royal-blue: #3a76f5;
  --light-steel-blue: #a7c0d1;
  --light-shade: rgba(108, 130, 163, 1);
  --sunglow: #ffcb35;
  --white: rgba(255, 255, 255, 1);
  --light-pale-pink: #ebf1fe;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Euclid Circular A", sans-serif;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.logo h1 {
  font-family: "Gold West", sans-serif;
  font-size: 1.5rem;
}

a {
  font-family: "Euclid Circular A", sans-serif;
}

h2 {
  font-family: "Euclid Circular A", sans-serif;
  font-size: 3.8rem;
  color: var(--dark-shade);
}

h4 {
  line-height: 1.5;
  font-size: 1.15rem;
}

.container {
  max-width: 75rem;
  margin: auto;
}

#hero-section {
  padding-top: 10rem;
}

#goals {
  padding-top: 10rem;
  margin-bottom: 15rem;
  position: relative;
  font-family: "Euclid Circular A", sans-serif;
}

#features {
  font-family: "Euclid Circular A", sans-serif;
  background-color: var(--dark-blue-main);
  color: var(--white);
}

#properties {
  padding-top: 15rem;
}

#get-started {
  padding-top: 15rem;
}

#testimonials {
  background-color: var(--light-pale-pink);
  margin-top: 15rem;
  padding: 10rem 0;
  overflow: hidden;
}

#blog {
  margin-top: 10rem;
}

#community {
  margin-top: 10rem;
  padding-inline: 2%;
}

#newsletter {
  margin-top: 10rem;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.grid-2-col {
  display: grid;
  grid-template-columns: repeat(2, minmax(16rem, 1fr));
  gap: 4rem;
}

.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem 5rem;
}

.grid-4-col {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  transition: transform 0.5s ease;
}
.cta {
  margin-top: 3.5rem;
}

.hero-img {
  margin-top: 1rem;
}

.description-center {
  text-align: center;
  font-size: 2.8rem;
  margin-bottom: 2.5rem;
  line-height: 1.5;
}

/* margin-top */
.mt {
  margin-top: 1.5rem;
}

/* line */
.line {
  width: 39.45rem;
  height: 0.1125rem;
  background: var(--light-shade);
}

.line-1 {
  transform: translate(0, -26.5rem);
}
.line-2 {
  transform: translate(0, -21.5rem);
}
.line-3 {
  transform: translate(0, -16.95rem);
}
.line-4 {
  transform: translate(0, -12.5rem);
}
.line-5 {
  transform: translate(0, -7.95rem);
}

.horizontal-line {
  display: flex;
  flex-direction: column;
}

/* footer */

footer {
  margin-top: 10rem;
  padding: 5rem 0;
  background-color: var(--dark-blue-main);
  color: var(--white);
  overflow: hidden;
}
