@font-face {
  font-family: "Gold West";
  src: url(/fonts/gold-west.otf);
}

@font-face {
  font-family: "Euclid Circular A";
  src: url(/fonts/EUCLID\ CIRCULAR\ A\ REGULAR.ttf);
}

:root {
  --dark-shade: #082552;
  --dark-blue: #010813cc;
  --royal-blue: #3a76f5;
  --light-steel-blue: #a7c0d1;
  --white: #fff;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.logo h1 {
  font-family: "Gold West", sans-serif;
  font-size: 1.5rem;
}

a {
  font-family: "Euclid Circular A", sans-serif;
}

h2 {
  font-family: "Euclid Circular A", sans-serif;
  font-size: 3.8rem;
  color: var(--dark-shade);
}

.container {
  max-width: 75rem;
  margin: auto;
}

#hero-section {
  padding-top: 10rem;
}

#goals {
  padding-top: 10rem;
  position: relative;
  font-family: "Euclid Circular A", sans-serif;
}

.cta {
  margin-top: 3.5rem;
}

.hero-img {
  margin-top: 1rem;
}
