@font-face {
  font-family: "Gold West";
  src: url(/fonts/gold-west.otf);
}

@font-face {
  font-family: "Euclid Circular A";
  src: url(/fonts/EUCLID\ CIRCULAR\ A\ REGULAR.ttf);
}

:root {
  --dark-shade: #082552;
  --dark-blue: #010813cc;
  --dark-blue-main: #010813;
  --royal-blue: #3a76f5;
  --light-steel-blue: #a7c0d1;
  --light-shade: rgba(108, 130, 163, 1);
  --sunglow: #ffcb35;

  --white: rgba(255, 255, 255, 1);
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

body {
  font-family: "Euclid Circular A", sans-serif;
}

li,
a {
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

.logo h1 {
  font-family: "Gold West", sans-serif;
  font-size: 1.5rem;
}

a {
  font-family: "Euclid Circular A", sans-serif;
}

h2 {
  font-family: "Euclid Circular A", sans-serif;
  font-size: 3.8rem;
  color: var(--dark-shade);
}

h4 {
  line-height: 1.5;
  font-size: 1.15rem;
}

.container {
  max-width: 75rem;
  margin: auto;
}

#hero-section {
  padding-top: 10rem;
}

#goals {
  padding-top: 10rem;
  margin-bottom: 15rem;
  position: relative;
  font-family: "Euclid Circular A", sans-serif;
}

#features {
  font-family: "Euclid Circular A", sans-serif;
  background-color: var(--dark-blue-main);
  color: var(--white);
}

#properties {
  padding-top: 15rem;
}

#get-started {
  padding-top: 15rem;
}

.grid-2-col {
  display: grid;
  grid-template-columns: repeat(2, minmax(16rem, 1fr));

  gap: 4rem;
}

.grid-3-col {
  display: grid;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding: 4rem 5rem;
}

.cta {
  margin-top: 3.5rem;
}

.hero-img {
  margin-top: 1rem;
}

.description-center {
  text-align: center;
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 2.5rem;
  line-height: 1.5;
}
