/* header */
.header {
  max-width: 80rem;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.5rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.35rem;
}

.logo img {
  width: 2.85rem;
}

/* nav */
.nav-list ul {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list ul li {
  padding-right: 3.5rem;
}

.nav-list ul li:last-child {
  padding-right: 0;
}

.link-list:link,
.link-list:visited {
  font-size: 0.95rem;
  color: var(--dark-blue);
  font-weight: lighter;
}

.link-list:hover,
.link-list:active {
  color: var(--dark-blue);
  text-decoration: underline;
  transition: all 0.3s ease-in-out;
}

/* auth */
.auth-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  gap: 2rem;
}

.login:link,
.login:visited {
  color: var(--royal-blue);
}
.login:hover,
.login:active {
  background-color: var(--royal-blue);
  color: #fff;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.signup:link,
.signup:visited {
  background-color: var(--royal-blue);
  padding: 0.8rem 1.5rem;
  color: var(--white);
  border-radius: 10px;
}

.signup:hover,
.signup:active {
  background-color: #0e307bd2;
  transition: all 0.5s ease-in-out;
}
/* end of header */

/*
************************* 
************************* 
 */

/* hero section */
.hero-container {
  max-width: 64rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero-content {
  font-family: "Euclid Circular A", sans-serif;
}

.hero-header {
  line-height: 1.5;
  text-align: center;
  font-size: 4.8rem;
}

.hero-image-header {
  border-radius: 50px;
  width: 10rem;
  background-color: var(--light-steel-blue);
  display: inline;
}

.hero-text {
  color: var(--dark-blue);
  font-family: "Euclid Circular A", sans-serif;
  text-align: center;
  width: 45%;
  font-weight: 100;
  margin-top: 1rem;
}

.btn-hero:link,
.btn-hero:visited {
  padding: 0.65rem 2rem;
  background: var(--royal-blue);
  color: var(--white);
  border-radius: 10px;
}
.btn-hero:hover,
.btn-hero:active {
  color: var(--white);
}

/*
************************* 
************************* 
 */

/* vision and mission */

/* goals img */
.vision-mission-images {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.goals-img {
  width: 20rem;
  /* opacity: 0;
  transform: translateX(-100%);
  transition: transform 1s, opacity 1s; */
}

.goals-text {
  position: absolute;
  top: 9.5rem;
  left: 38%;
  transform: translate(-32%, -7%);
  text-align: center; /* Positioning in the middle vertically and horizontally */
}

.card {
  background-color: var(--royal-blue);
  color: var(--white);
  padding: 2rem;
  width: 30.5%;
  border-radius: 5px;
  position: absolute;
  top: 26.5rem;
  left: 38%;
  transform: translate(-10%, -7%);
}

.card-text {
  font-size: 0.9rem;
  text-align: center;
  line-height: 1.5;
}

.review {
  margin-top: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.review-number {
  font-size: 1.5rem;
  font-weight: bold;
}

.review-text {
  font-size: 0.75rem;
}

/*
************************* 
************************* 
 */

/*  */

.offers {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.offer-header-text p {
  font-size: 3rem;
  width: 35rem;
  margin-top: 1.5rem;
}

.num {
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 0.65rem;
  display: block;
}

.features-text {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: lighter;
  line-height: 1.5;
}

/*
************************* 
************************* 
 */

/* proeties details */
.properties-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.properties-subtitle {
  width: 19rem;
  margin-bottom: 1rem;
  line-height: 1.5;
  font-size: 0.85;
}

button {
  background: none;
  border: none;
}

.button {
  background-color: var(--royal-blue);
  color: var(--white);
  padding: 0.45rem 2.5rem;
  border-radius: 5px;
}

.White-house-img {
  width: 88%;
}

.properties-image {
  position: relative;
  margin-top: 5rem;
}

/* property content */
.properties-content {
  border: 1px solid var(--light-shade);
  padding: 2rem;
  width: 30rem;
  background-color: var(--white);
  right: 0;
  position: absolute;
  top: 5%;
}

.property-name {
  font-weight: 600;
  color: var(--dark-shade);
  margin-bottom: 1rem;
}

.property-description {
  color: var(--dark-blue);
  line-height: 1.5;
  margin-bottom: 2rem;
}
.location {
  color: var(--light-shade);
  margin-bottom: 1rem;
}
.location i {
  color: var(--sunglow);
  margin-right: 1rem;
}

.property-size {
  color: var(--light-shade);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 2.5;
}

.property-feet {
  color: var(--dark-shade);
  font-weight: 600;
  margin-left: 1rem;
}

.property-meter {
  color: var(--dark-shade);
  margin-left: 1rem;
  font-weight: 700;
}

.property-features-list li {
  list-style: disc;
  font-weight: lighter;
  font-size: 0.85rem;
  margin-bottom: 1rem;
}
.property-features-list li::marker {
  color: var(--sunglow);
}
.property-features-list li:last-child {
  margin-bottom: 2rem;
}

.property-features-header {
  color: var(--dark-shade);
  font-weight: 700;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.explore-btn {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 1rem;
}
.explore-btn p {
  color: rgba(1, 8, 19, 0.65);
  font-size: 0.85rem;
}
.upright-arr {
  background: linear-gradient(
    180deg,
    #3a76f5 30.21%,
    rgba(255, 203, 53, 0.8) 100%
  );
  color: var(--white);
  border-radius: 50%;
  padding: 0.25rem 0.35rem;
}

/*
************************* 
************************* 
 */

/*  */

.registration {
  padding-top: 5rem;
  border: 1px solid var(--light-shade);
}
.reg-category {
  padding: 4rem 0 4rem 10rem;
}
.reg-category li {
  font-size: 1.5rem;
  margin-bottom: 3rem;
  color: var(--dark-shade);
  cursor: pointer;
}
.reg-category li:last-child {
  margin-bottom: 0;
}

.registration-group {
  background-color: var(--dark-blue-main);
  color: var(--white);
  padding: 4rem 5rem 0 5rem;
}

.reg-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.reg-description {
  font-size: 0.9rem;
  font-weight: lighter;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.reg-btn:link,
.reg-btn:visited {
  color: var(--white);
  border: 1px solid var(--white);
  padding: 0.45rem 1.5rem;
  border-radius: 5px;
}

/*
************************* 
************************* 
 */

/* testimonials */
.testimonies {
  background-color: var(--royal-blue);
  color: var(--white);
  padding: 1rem 2rem 0.5rem 2rem;
  width: 35rem;
}
.testimonies i {
  color: var(--sunglow);
  font-size: 2.4rem;
}

.cust-review {
  display: flex;
  /* justify-content: center; */
  gap: 0.875rem;
  align-items: center;
}
.cust-review i {
  color: var(--sunglow);
  font-size: 3.2rem;
}
.cust-review h3 {
  font-weight: bolder;
  font-size: 1.5rem;
}

.cust-name-profession {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.customer {
  background-color: var(--white);
  width: 10%;
  border-radius: 50%;
  padding-top: 0.625rem;
}
