@font-face {
  font-family: "Euclid Circular A";
  src: url(/fonts/EUCLID\ CIRCULAR\ A\ REGULAR.ttf);
}

:root {
  --light-shade: rgba(108, 130, 163, 1);
  --lavender-blue: #8db0f9;
  --white: #ffffff;
  --royal-blue: #3a76f5;
  --dark-shade: #082552;
  --light-pale-pink: #ebf1fe;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Euclid Circular A", sans-serif;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

label {
  font-size: 0.8rem;
  color: var(--light-shade);
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  display: inline-block;
}
a {
  text-decoration: none;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  margin-bottom: 2.5rem;
  transform: translate(7.5rem);
}

.f-input {
  display: flex;
  flex-direction: row;
  /* gap: 1rem; */
  justify-content: space-between;
  justify-items: center;
  border: 1px solid var(--light-shade);
  border-radius: 5px;
  padding: 6px;
}
.f-input {
  margin-bottom: 1rem;
}
.f-input i {
  color: var(--light-shade);
}
.f-input input {
  width: 20rem;
  padding: 8px;
  padding-top: 3px;
  padding-bottom: 3px;
  border: none;
  outline: none;
}
.f-input input:focus {
  border: none;
  outline: none;
}

.f-input input::placeholder {
  color: var(--light-shade);
}

/* Buttons */

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--lavender-blue);
  padding: 0.7rem 0;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 2.4rem;
}

button {
  background: none;
  border: none;
  color: var(--white);
}

.btn-box:hover {
  background-color: var(--royal-blue);
  transition: all 0.5s ease;
}

.home-fgt {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.link:link,
.link:visited {
  color: var(--dark-shade);
  font-size: 0.8rem;
}
.link:hover,
.link:active {
  color: var(--dark-shade);
}

/* check btn */
.checkbox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 0.8rem;
  gap: 0.5rem;
  color: var(--dark-shade);
}
