.own-a-piece {
  max-width: 1200px;
  margin: 10em auto;
  border: 2px solid var(--light-shade);
  font-family: var(--euclid-circular-a-regular);
}
.own-a-piece h4 {
  margin-top: 2em;
  margin-left: 6em;
  font-size: 3em;
  width: 650px;
  text-align: center;
  font-weight: 600;
  color: var(--dark-shade);
}

.own-a-piece img {
  width: 1197px;
  overflow: hidden;
  margin-top: 5em;
}

.own-a-piece-list {
  display: flex;
  justify-content: space-between;
}
.own-a-piece-list-el {
  margin-left: 10em;
  line-height: 5;
}
.own-a-piece-list-content {
  width: 600px;
  padding: 5em;
  background-color: var(--dark-blue);
  color: var(--white-color);
}
.own-a-piece-list-content h5 {
  font-size: 2em;
}
.own-a-piece-list-content p {
  font-size: 1em;
  margin-top: 2em;
  font-weight: lighter;
}
.own-a-piece-list-content button {
  margin-top: 5em;
  padding: 0.5em;
  width: 150px;
  background-color: var(--dark-blue);
  color: var(--white-color);
  border: 1px solid var(--white-color);
  border-radius: 5px;
}


