.explore-page {
  max-width: 1200px;
  margin: auto;
  margin-top: 6em;
  font-family: var(--euclid-circular-a-regular);
  position: relative;
}

.text-header h4 {
  width: 450px;
  font-size: 2em;
  color: var(--dark-shade);
}
.content-flex {
  display: flex;
  justify-content: space-between;
  padding: 2em;
}

.content-p-btn p {
  color: var(--dark-blue);
  width: 356px;
}

.btn-view {
  font-family: var(--euclid-circular-a-regular);
  padding: 0.5em;
  border-radius: 10px;
  border: none;
  width: 50%;
  background-color: var(--btn-container-bg-color);
  color: var(--white-color);
  margin-top: 2em;
}
.fi-arrow {
  position: relative;
  top: 0.1em;
}

.explore-page img {
  width: 1050px;
  height: 900px;
  margin: 2em;
}

.explore-msg-el {
  border: 1px solid var(--light-shade);
  width: 500px;
  height: 800px;
  font-family: var(--euclid-circular-a-regular);
  padding: 3em;
  background: var(--white-color);
  position: absolute;
  inset: 18em 43em;
}
.explore-msg-el h5 {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--dark-shade);
}
.explore-msg-el p {
  /* font-size: 1.25em; */
  color: var(--dark-blue);
}
.explore-msg-el p,
address,
.areas {
  margin-top: 1em;
}
.areas span {
  display: inline-block;
}
address {
  margin: 2em 0;
  color: var(--light-shade);
}
address i {
  color: var(--foundation);
}

.areas a {
  color: var(--light-shade);
}
.areas span {
  color: var(--dark-shade);
  font-weight: 600;
}
.key-features-el {
  margin-top: 3em;
  /* line-height: 2; */
}
.key-features-el h5 {
  color: var(--dark-shade);
  font-size: 1em;
}
.key-features-el li {
  color: var(--foundation);
  list-style: disc;
  margin-left: 0.5em;
}
.learn-more {
  display: flex;
  gap: 1em;
  margin-top: 2em;
}
.learn-more p {
  font-weight: lighter;
  color: var(--dark-blue);
}
.learn-more button {
  --learn-more-bg-btn: linear-gradient(
    180deg,
    #3a76f5 30.21%,
    rgba(255, 203, 53, 0.8) 100%
  );
  border-radius: 50%;
  padding: 1em;
  width: 10px;
  height: 10px;
  position: relative;
  background: var(--learn-more-bg-btn);
  border: none;
  margin-top: 1em;
}
.lu-upright {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  color: var(--white-color);
}
