.testimonial-container{
  font-family: var(--euclid-circular-a-regular);
  height: 900px;
  background-color: var(--testimonial-bg);
}
.testimonial-content{
  max-width: 1200px;
  margin: auto;
}
.testimonial-content h5{
  position: relative;
  top: 2em;
  font-size: 2em;
  text-align: center;
  width: 450px;
  margin-left: 12em;
}

.swiper {
  width: 50%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

